$active: #fb0909;
$focus: pink;
// $hover: #14B4BE;
$ac: #fcd7b6;
$green: #14B4BE;
$white: #FFFFFF;
$black: #000000;
$black2: #212529;
$black3: #022643;
$btn-menu:silver;

//section
$padding-main:100px;
$padding-1200:85px;
$padding-992:70px;
$padding-768:55px;
$padding-576:40px;