$active: #fb0909;
$focus: pink;
$ac: #fcd7b6;//4
$green: #14B4BE;//4
$white: #FFFFFF;//15
$black: #000000;//12
$black2: #212529;//1
$black3: #022643;//8
$btn-menu:silver;

//section
$padding-main:100px;
$padding-1200:85px;
$padding-992:70px;
$padding-768:55px;
$padding-576:40px;