@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.menu {
    .menu__btn {
        display: none
    }
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: transparent;
    // display: flex;
    // justify-content: center;
}

.container {}

.services__title,
.offer__title,
.advantages__title {
    margin-bottom: 70px;

    @media (max-width: 1200px) {
        margin-bottom: 60px;
    }

    @media (max-width: 992px) {
        margin-bottom: 50px;
    }

    @media (max-width: 768px) {
        margin-bottom: 20px;
    }

    @media (max-width: 576px) {
        margin-bottom: 30px;
    }
}

.menu {
    // max-width: 1000px;
    padding: 50px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;

    &__items {
        display: flex;
        // justify-content: space-between;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 100px;
        }
    }

    &__link {
        outline-color: $black;
        outline-offset: 5px;
        text-transform: uppercase;
        color: $white;
        transition: border-bottom 0.5s;
        border-bottom: 1px solid transparent;

        &:focus {
            color: $focus;
        }

        &:hover {
            padding-bottom: 2px;
            border-bottom: 1px solid $white;
        }

        &:active {
            color: $active;
        }
    }

    &__link-logo {
        margin: 0px 50px 0px 50px;
    }

    &__link--active {}

    &__logo {
        width: 150px;
        height: 55px;
        object-fit: cover;
    }
}


.intro {
    height: 100vh;
    background-image: url('../images/introbg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
    }


    &__wrapper {
        height: 100vh; //!!!2vh
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    }

    &__box {
        margin-bottom: 50px;
        z-index: 1;
    }

    &__text {
        margin-bottom: 50px;
        color: $white;
        font-size: 36px;
    }

    &__link {
        padding: 11px 24px;
        color: $black3;
        background-color: $white;
        text-transform: uppercase;
        border-radius: 4px;
        font-weight: 600;
        max-width: 230px;
    }
}

.offer {
    padding: 100px 0;

    // @media (max-width: 1200px) {
    //     padding: 100px 0;
    // }

    @media (max-width: 992px) {
        padding: 70px 0;
    }

    @media (max-width: 768px) {
        padding: 50px 0;
    }

    @media (max-width: 576px) {
        padding: 30px 0;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    &__item {
        max-width: 360px;
        cursor: pointer;
        position: relative;
    }

    &__box {
        cursor: pointer;

        &::before {
            content: "";
            position: absolute;
            top: 0%;
            left: 50%;
            transform: translateX(-50%);
            background: rgba(2, 38, 67, 0.7);
            width: 100%;
            height: 100%;
            background-image: url('../images/logo.png');
            background-repeat: no-repeat;
            background-position: 50% 40%;
            opacity: 0;
            transition: .5s;
        }

        &:focus {
            color: $focus;
        }

        &:hover {
            position: relative;

            &::before {
                opacity: 1;
            }

            .offer__subtitle {
                background-color: $black3;
                color: $white;
                transition: .5s;
            }
        }

        &:active {
            color: $active;
        }
    }

    &__images {
        line-height: 0;
    }

    &__img {
        width: 840px;
        height: 396px;
        object-fit: cover;
    }

    &__items {
        display: none;
        text-align: center;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
        padding: 25px;
    }

    &__subtitle {
        height: 120px;
        position: relative;
        z-index: 2;
        text-align: center;
        padding: 30px;
        font-weight: 600;
        font-size: 20px;
        background-color: $white;
        color: $black3;
        text-transform: uppercase;
        box-shadow: 0px 0px 4px rgba(121, 61, 36, 0.25);
    }

    &__text {
        font-size: 20px;
        color: $black3;
    }
}

.services {
    padding: 100px 0;

    &__inner {
        display: flex;

        &:focus {
            color: transparent;
        }

        &:hover {
            .services__text {
                opacity: 1;
                background: rgba(2, 38, 67, 0.7);
            }
        }

        &:active {
            color: transparent;
        }
    }

    &__item {
        height: 396px;
        position: relative;
    }

    &__box {
        display: flex;
        align-items: center;
        padding: 100px;
        background-color: $black3;
        color: $white;
        font-size: 24px;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        flex-direction: column;
        justify-content: center;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    &__images {
        position: relative;
        transition: color 0.5s;
        width: 100%;
    }

    &__img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &__text {
        padding: 50px 60px;
        position: absolute;
        top: 0;
        opacity: 0;
        color: $white;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        transition: .5s;
    }
}

.advantages {
    padding: 100px 0;
    text-align: start;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        text-align: start;
    }

    &__img {
        // width: 550px;
        max-width: 50%;
        height: 900px;
    }

    &__title {
        font-size: 36px;
        letter-spacing: 0.04em;
        // потом поискать etter-spacing
        text-transform: uppercase;
        color: $black3;
        text-align: start;
    }

    &__box {
        width: 50%;
    }

    &__items {}

    &__item {
        // display: flex;
        margin-bottom: 80px;

    }

    &__subtitle {
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 600;
        color: $black3;
        // тут разобраться что задавать
    }

    &__text {}
}

.statistics {
    margin: 100px 0;
    padding: 100px 0;
    background-image: url('../images/statistics.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(115, 80, 64, 0.3);
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    &__item {
        font-size: 18px;
        text-transform: uppercase;
        color: $white;
        font-weight: 600;
    }

    &__title {
        font-size: 18px;
        text-transform: uppercase;
    }

    &__number {
        font-size: 96px;
    }
}

.about {
    padding: 100px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__box {
        width: 50%;
        margin-right: 30px;
    }

    &__title {
        font-weight: 500;
        // подключить 500
        margin-bottom: 50px;
    }


    &__text {
        font-size: 20px;
    }

    &__text p {
        margin-bottom: 30px;
    }
}

.swiper {
    width: 50%;
    margin-left: 30px;
    padding-bottom: 40px;

    &__img {
        width: 560px;
        height: 790px;
    }
}

.mySwiper {}

.swiper-wrapper {}

.swiper-slide {}

.swiper-pagination {
    // left: 50%;
    // transform: translateX(-50%);

}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 5px;
}

.swiper-pagination-bullet {
    background-color: $white;
    // background: white;
    border: 1px solid $black;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    // background-color: $black;
    background: $black;
    // border: 1px solid $black3;
    // color: #000;

}

.partners {
    padding: 100px 0;

    &__title {
        margin-bottom: 70px;
    }

    &__text {
        font-size: 24px;
        text-align: center;
        margin-bottom: 50px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 0 20px;
    }

    &__img {
        // width: 100%;
        // height: 100%;
        max-width: 200px;
        max-height: 200px;
        object-fit: contain;
    }
}



// padding: 200px 0;

// @media (max-width: 1200px) {
//     padding: 100px 0;
// }

// @media (max-width: 992px) {
//     padding: 70px 0;
// }

// @media (max-width: 768px) {
//     padding: 50px 0;
// }

// @media (max-width: 576px) {
//     padding: 30px 0;
// }

// &__title {
//     margin-bottom: 70px;

//     @media (max-width: 1200px) {
//         margin-bottom: 60px;
//     }

//     @media (max-width: 992px) {
//         margin-bottom: 50px;
//     }

//     @media (max-width: 768px) {
//         margin-bottom: 20px;
//     }

//     @media (max-width: 576px) {
//         margin-bottom: 30px;
//     }
// }

/*медия всегда должны быть в низу */

/*

&__link {
    color: $title;
    font-family: $;
    font-size: 15px;
    line-height: 1;
    font-weight: 700;
    outline-color: #000000;
    outline-offset: 5px;
    transition: color 0.5s;
    &:focus {
        color: $green;
    }

    &:hover {
        color: $ac;
    }

    &--active {
        color: $ac;
    }
}

*/

/*.video {
    height: 425px;
    max-width: 1185px;
    display: flex;
    justify-content: center;
    background-position: center;
    position: relative;
    opacity: 1;
    transition: opacity 0.7s,
        border 0.5s;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;


    &:focus {
        outline: solid $ac;
    }

    &:hover {
        opacity: 0.4;
        border: 2px solid $black;
    }

    &:active {
        color: $active;
    }

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url('../images/play.png');
        background-position: center;
        background-repeat: no-repeat;
        height: 100px;
        width: 100px;
    }
}*/

@import 'media';