@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.menu {
    .menu__btn {
        display: none
    }
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: transparent;
    // display: flex;
    // justify-content: center;
}

.container {}

.menu {
    // max-width: 1000px;
    padding: 50px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;

    &__items {
        display: flex;
        // justify-content: space-between;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 100px;
        }
    }

    &__link {
        outline-color: $black;
        outline-offset: 5px;
        text-transform: uppercase;
        color: $white;
        transition: border-bottom 0.5s;
        border-bottom: 1px solid transparent;

        &:focus {
            color: $focus;
        }

        &:hover {
            padding-bottom: 2px;
            border-bottom: 1px solid $white;
        }

        &:active {
            color: $active;
        }
    }

    &__link-logo {
        margin: 0px 50px 0px 50px;
    }

    &__link--active {}

    &__logo {
        width: 150px;
        height: 55px;
        object-fit: cover;
    }
}


.intro {
    height: 100vh;
    background-image: url('../images/introbg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    // background: rgba(36, 33, 33, 0.5);
    // opacity: 0.7;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
    }


    &__wrapper {
        height: 100vh; //!!!2vh
        display: flex;
        // flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
    }

    &__box {
        margin-bottom: 50px;
        z-index: 1;
    }

    &__text {
        margin-bottom: 50px;
        color: $white;
        font-size: 36px;
    }

    &__link {
        // margin-bottom: 50px;
        padding: 11px 24px;
        // font-size: 16px;
        color: $black3;
        background-color: $white;
        text-transform: uppercase;
        border-radius: 4px;
        font-weight: 600;
        max-width: 230px;
    }
}

.offer {
    padding: 200px 0;

    &__title {
        margin-bottom: 70px;

    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    &__item {
        max-width: 360px;

        &:active {
            color: $active;
        }
    }

    &__box {
        cursor: pointer;
        // transition: background-color, 0.5s;
        transition: all 0.5s;

        &:focus {
            color: $focus;
        }

        // https://www.youtube.com/watch?v=R7yB2ganPho
        &:hover {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 0%;
                left: 50%;
                transform: translateX(-50%);
                background: rgba(2, 38, 67, 0.7);
                width: 100%;
                height: 100%;
                background-image: url('../images/logo.png');
                background-repeat: no-repeat;
                background-position: 50% 33%;
                // background-size: cover;
            }

            .offer__subtitle {
                background-color: $black3;
                color: $white;
            }
        }
    }

    &__images {
        line-height: 0;
    }

    &__img {
        width: 840px;
        height: 396px;
        object-fit: cover;
    }

    &__items {
        display: none;
        text-align: center;
        // position: relative;
        // z-index: 1;
        // box-shadow: 0px 0px 7px rgba(0, 0, 0, / 25%);
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
        // box-shadow: 0px 0px 7px rgba(0 0 0 0.25);
        // box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
        // box-shadow: rgba(0,0,0,0.5);;
        // box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
        padding: 25px;

        // &--active {
        //     display: block;
        // }
    }

    // .active {
    //     display: block;
    // }

    // .offer__items--active {
    //     display: block;
    // }

    // .modal {
    //     display: block;
    // }

    &__subtitle {
        // background-color: #022643;
        // color: #fff;
        height: 120px;
        position: relative;
        z-index: 2;
        text-align: center;
        padding: 30px;
        font-weight: 600;
        font-size: 20px;
        background-color: $white;
        color: $black3;
        text-transform: uppercase;
        box-shadow: 0px 0px 4px rgba(121, 61, 36, 0.25);
        // box-shadow: 0px 0px 4px rgba(121 61 36 / 25%);
        // background-color: rgb(255, 255, 128);
        // -webkit-box-shadow: 0px 0px 7px rgb(0 0 0 / 25%);
        // box-shadow: 0px 0px 7px rgb(0 0 0 / 25%);
    }

    &__text {
        font-size: 20px;
        color: $black3;
    }
}

.services {
    padding: 200px 0;

    &__title {
        margin-bottom: 70px;
    }

    &__wrapper {
        // display: flex;
        // justify-content: space-between;
    }

    &__inner {
        display: flex;
    }

    &__item {
        height: 396px;
        position: relative;
    }

    &__box {
        // width: 360px;
        // height: 396px;
        // padding: 150px 150px 150px 150px;
        padding: 100px;
        background-color: $black3;
        color: $white;
        font-size: 24px;
        text-align: center;
        text-transform: uppercase;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;

            // height: 1px;
            // width: 1px;
            // background-image: url('../images/icons/search.svg');
            // background-repeat: no-repeat;
            // background-position: center;
            // background-size: cover;
            // .services__text {}
        }
    }

    &__images {
        position: relative;
        transition: color 0.5s;

        &:focus {
            color: transparent;
        }

        &:hover {
            // color: $ac;
            .services__text {
                overflow: visible;
            }
        }

        &:active {
            color: transparent;
        }
    }

    &__img {
        object-fit: cover;
        // width: 100%;
        // height: 100%;
        width: 840px;
        height: 396px;
    }

    &__text {
        padding: 50px 60px;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        // color: $black;
        // z-index: 999;
    }
}



/*медия всегда должны быть в низу */


/*

&__link {
    color: $title;
    font-family: $;
    font-size: 15px;
    line-height: 1;
    font-weight: 700;
    outline-color: #000000;
    outline-offset: 5px;
    transition: color 0.5s;
    &:focus {
        color: $green;
    }

    &:hover {
        color: $ac;
    }

    &--active {
        color: $ac;
    }
}

*/

/*.video {
    height: 425px;
    max-width: 1185px;
    display: flex;
    justify-content: center;
    background-position: center;
    position: relative;
    opacity: 1;
    transition: opacity 0.7s,
        border 0.5s;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;


    &:focus {
        outline: solid $ac;
    }

    &:hover {
        opacity: 0.4;
        border: 2px solid $black;
    }

    &:active {
        color: $active;
    }

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url('../images/play.png');
        background-position: center;
        background-repeat: no-repeat;
        height: 100px;
        width: 100px;
    }
}*/

@import 'media';